*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

/*========== WIKIPEDIA==========*/
/* 
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #aaa;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    line-height: 1.25;
}
.logo {
    width: 20%;
}
.search-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 340px;
    padding: 16px;
}
.search-input, .search-button {
    outline: none;
    border: 1px solid #222;
    border-radius: 0.5rem;
    padding: 6px 12px;
    font-size: 1rem;
    color: #222;
    background-color: #fff;
    box-shadow: 0 1px 10px 0 rgba(92,92,92,0.2);
    transition: transform, color .3s;
}
.search-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: #aaa;
}
.card {
    background-color: #ccc;
    padding: 10px 12px;
    border-radius: 0.5rem;
    margin: 0.5rem;
    color: #222;
}
.card-title a{
    text-transform: capitalize;
    text-decoration: none;
    color: #244468;
    font-family: system-ui, sans-serif;
    font-size: 20px;
}
.card-link{
    font-size: 17px;
}
.card .card-snippet{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
} */




/*=======TEZ YOZ O'TINI || TYPING=========*/
/* body{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 248, 245);

}
.container, .end-game {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(157, 246, 216);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(43, 166, 215);
    width: 280px;
    height: 160px;
}
.word {
    color: rgb(43, 166, 215);
    padding: 6px 10px;
    letter-spacing: 2px;

}
.input-area{
    border: 1px solid rgb(43, 166, 215);
    outline: none;
    border-radius: .5rem;
    padding: 6px 12px;
    color: rgb(43, 166, 215);
    font-size: 1rem;
}
.input-area::placeholder{
    color: rgb(43, 166, 215);
}
.time-section {
    margin: 6px 12px;
}
.end-game {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}
.end-game h3 {
    color: rgb(247, 98, 43);
    margin: 6px;
}
.end-game>button{
    margin: 6px;
    border: 1px solid rgb(43, 166, 215);
    border-radius: .5rem;
    padding: 6px 12px;
    color: rgb(43, 166, 215);
    font-size: 1rem;

}
.end-game > button:hover{
    cursor: pointer;
} */





/*==========GITHUB QIDIRUV TIZIMI==========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');
/* 
:root{
    --white: #d9dbdd;
    --dark: #24292f;
    --blue: #3f3ff7;
    --darkgrey: #49535b;
    --lightgrey:#AAB8C2;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark);
    color: var(--white);
}
.main {
    margin: 0 auto;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    max-width: 800px;
}
.form {
    width: 100%;
    background-color: var(--darkgrey);
    display: flex;
    margin: 1rem;
    padding: 8px 14px;
    border-radius: 0.5rem;
}
.search-input {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--lightgrey);
    flex-grow: 1;
}
.search-button {
    padding: 8px 14px;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--blue);
    color: var(--white);
    transition:  0.3s;
}
.search-button:hover{
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.02);
}
.results{
    width: 100%;
}
.card {
    line-height: 1.2;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--darkgrey);
    color: var(--white);
    padding: 1rem;
    border-radius: .5rem;
}
.user-img {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin-right: 1rem;
}
.card ul{
    list-style: none;
}
.name {
    color: #fff;
}
.login {
    color: var(--blue);
}
.followers {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4);
    border-radius: .5rem;
    padding: .5rem; 
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    margin: 6px 0;
    flex-wrap: wrap;
}
.user-links {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.4);
    border-radius: .5rem;
    padding: .5rem; 
    font-size: 14px;
}
.user-links a{
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s;
    margin: 0.5rem  0;
}
.user-links a:hover{
    color: var(--blue);
}
ul li{
    margin: 6px;
}
.user-links>li>i{
    color: var(--blue);
}

@media (max-width: 500px){
    .card{
        flex-direction: column;
    }
    .user-img{
        margin: auto;
    }
} 
@media (max-width: 330px){
    .form{
        width: 300px;
    }
}
@media (max-width: 280px){
    .form{
        width: 280px;
    }
} */






/*========= IMAGES FINDER|| RASMLAR  QIDIRUVI =========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(226, 255, 245);
}
.wrapper{
   padding: 10px; 
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.navbar-brand {
    width: 100px;
    border-radius: .25rem ;
    position: absolute;
    top: 0;
    left: 0;
}
form {
    display: flex;
    margin: 12px 0;
}
.input {
    background-color: #fff;
    padding: 10px 16px;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 0.5rem;
}
.input::placeholder{
    color: #000;
}
.search-button {
    margin-left: 1rem;
    background-color: aquamarine;
    color: #fff;
    padding: 10px 16px;
    border: none;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    transition: 0.3s;
}
.search-button:hover{
    background-color: #fff;
    color: aquamarine;
    opacity: 0.6;
    cursor: pointer;
}
.alert {
    color: orangered;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}
.images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.image{
    width: 300px;
    height: 300px;
}
.caption{
    font-size: 14px;
    color: #888;
    font-family: 'Montserrat', monospace;
    margin: 10px;
    text-align: center;
}
@media (max-width: 500px){
    .navbar{
        margin: 12px;
    }
    .input, .search-button{
        font-size: 14px;
        padding: 6px 10px;
    }
    .navbar-brand {
        width: 80px;
    }
    .alert {
        color: orangered;
        font-size: 14px;
    } 
}
@media (max-width: 400px){
    .navbar{
        margin: 8px;
    }
    .input, .search-button{
        font-size: 12px;
        padding: 4px 8px;
    }
    .navbar-brand {
        width: 60px;
    } 
}
@media (max-width: 300px){
    .image{
        width: 275px;
        height: 275px;
    }
}