*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

/*========== WIKIPEDIA==========*/
/* 
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #aaa;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    line-height: 1.25;
}
.logo {
    width: 20%;
}
.search-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 340px;
    padding: 16px;
}
.search-input, .search-button {
    outline: none;
    border: 1px solid #222;
    border-radius: 0.5rem;
    padding: 6px 12px;
    font-size: 1rem;
    color: #222;
    background-color: #fff;
    box-shadow: 0 1px 10px 0 rgba(92,92,92,0.2);
    transition: transform, color .3s;
}
.search-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: #aaa;
}
.card {
    background-color: #ccc;
    padding: 10px 12px;
    border-radius: 0.5rem;
    margin: 0.5rem;
    color: #222;
}
.card-title a{
    text-transform: capitalize;
    text-decoration: none;
    color: #244468;
    font-family: system-ui, sans-serif;
    font-size: 20px;
}
.card-link{
    font-size: 17px;
}
.card .card-snippet{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
} */




/*=======TEZ YOZ O'TINI || TYPING=========*/
body{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 248, 245);

}
.container {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(157, 246, 216);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(43, 166, 215);
}
.word {
    color: rgb(43, 166, 215);
    padding: 6px 10px;
    letter-spacing: 2px;

}
.input-area{
    border: 1px solid rgb(43, 166, 215);
    outline: none;
    border-radius: .5rem;
    padding: 6px 12px;
    color: rgb(43, 166, 215);
    font-size: 1rem;
}
.input-area::placeholder{
    color: rgb(43, 166, 215);
}
.time-section {
    margin: 6px 12px;
}
.end-game {
    text-align: center;
}
.end-game h3 {
    color: rgb(247, 98, 43);
    margin: 6px;
}
.end-game>button{
    margin: 6px;
    border: 1px solid rgb(43, 166, 215);
    border-radius: .5rem;
    padding: 6px 12px;
    color: rgb(43, 166, 215);
    font-size: 1rem;

}
.end-game > button:hover{
    cursor: pointer;
}